<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <ss:Styles>
    <ss:Style ss:ID="1">
      <ss:Font ss:Bold="1"/>
    </ss:Style>
  </ss:Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Column ss:Index="1" ss:AutoFitWidth="0" ss:Width="50"  />
      <Column ss:Index="2" ss:AutoFitWidth="0" ss:Width="80"  />
      <Column ss:Index="3" ss:AutoFitWidth="0" ss:Width="200"  />
      <Column ss:Index="4" ss:AutoFitWidth="0" ss:Width="200"  />
      <Column ss:Index="5" ss:AutoFitWidth="0" ss:Width="300"  />
      <Column ss:Index="6" ss:AutoFitWidth="0" ss:Width="150"  />
      <Column ss:Index="7" ss:AutoFitWidth="0" ss:Width="100"  />
      <Column ss:Index="8" ss:AutoFitWidth="0" ss:Width="100"  />
      <Column ss:Index="9" ss:AutoFitWidth="0" ss:Width="100"  />
      <Column ss:Index="10" ss:AutoFitWidth="0" ss:Width="100"  />
      <Column ss:Index="11" ss:AutoFitWidth="0" ss:Width="100"  />
      <Column ss:Index="12" ss:AutoFitWidth="0" ss:Width="100"  />
      <Column ss:Index="13" ss:AutoFitWidth="0" ss:Width="300"  />
      <Row ss:StyleID="1">
        <Cell><Data ss:Type="String">№ п/п</Data></Cell>
        <Cell><Data ss:Type="String">Индивидуальный номер в системе Seldon</Data></Cell>
        <Cell><Data ss:Type="String">Название процедуры закупки</Data></Cell>
        <Cell><Data ss:Type="String">Наименование заказчика</Data></Cell>
        <Cell><Data ss:Type="String">Этапы работ (из ТЗ, КП, ПД, КД) </Data></Cell>
        <Cell><Data ss:Type="String">Ссылка на процедуру закупки</Data></Cell>
        <Cell><Data ss:Type="String">Дата начала приема заявок</Data></Cell>
        <Cell><Data ss:Type="String">Дата окончания приема заявок</Data></Cell>
        <Cell><Data ss:Type="String">Начальная максимальная цена, руб.</Data></Cell>
        <Cell><Data ss:Type="String">Срок предоставления документов в  КО для участия в процедуре закупки </Data></Cell>
        <Cell><Data ss:Type="String">Срок утверждения Карточки проекта PRE-SALE</Data></Cell>
        <Cell><Data ss:Type="String">Срок окончания работ</Data></Cell>
        <Cell><Data ss:Type="String">Комментарии</Data></Cell>
      </Row>
    <% @tenders.each_with_index do |tender, index| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= index+1 %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= tender.seldon_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tender.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tender.customer %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tender.milestones %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tender.url %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tender.start_date %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tender.end_date %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= tender.start_max_price %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tender.docs_deadline %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tender.approve_deadline %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tender.completion_date %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tender.comments.to_text %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
