<% if can? :manage, Tender %>
  <%= form_tag import_tenders_path, multipart: true, class: "form-inline pull-right" do %>
    <div class="form-group">
      <!-- <%= label_tag "Импорт" %> -->
      <%= file_field_tag :file %>
      <!-- <p class="help-block">Поддерживается формат .xls</p> -->
    </div>
    <%= submit_tag 'Загрузить', class: "btn btn-default" %>
  <% end %>
<% end %>
<h1 class="page-header">
  Тендеры
</h1>

<% if can?(:manage, Tender) && !@tenders.empty? %>
  <%#= link_to "Выгрузить в .csv", export_tenders_path(format: "csv"), class: "btn btn-default" %>
  <%= link_to "Выгрузить в .xls", export_tenders_path(format: "xls"), class: "btn btn-default" %>
<% end %>

<div class="table-responsive">
  <table class="table table-hover table-fixed tenders-table">
    <thead>
      <tr>
        <!-- <th width="80">Seldon Id</th> -->
        <th>Название</th>
        <!-- <th>Заказчик</th> -->
        <!-- <th width="200">milestones</th> -->
        <th width="120">Ссылка на оф. сайт</th>
        <th width="100">Дата начала</th>
        <th width="140">Дата завершения приема заявок</th>
        <th width="140" class="text-right">Начальная макс. цена (млн. руб)</th>
        <th width="240">Участвуем?</th>
        <% if can? :manage, :all %>
        <th width="170">Админ</th>
        <% end %>
        <!-- <th>docs_deadline</th> -->
        <!-- <th>approve_deadline</th> -->
        <!-- <th>completion_date</th> -->
      </tr>
    </thead>
    <tbody>
      <% @tenders.each_with_index do |tender, i| %>
      <tr class="<%= 'warning' if tender.important %>">
        <!-- <td>
          <%= tender.seldon_id %>
        </td> -->
        <td>
          <% if tender.necessary %>
          <span class="label label-success necessary">обязательно!</span>
          <% end %>
          <%= link_to tender.name, tender %>
        </td>
        <!-- <td><%= tender.customer %></td> -->
        <!-- <td><%= tender.milestones %></td> -->
        <td><%= link_to external_url(tender.url), tender.url, target: "_blank" %></td>
        <td><%= tender.start_date %></td>
        <td><%= tender.end_date %></td>
        <td class="text-right"><%= price(tender.start_max_price) %></td>
        <td class="tenders-table__votes">
          <%= render partial: "shared/votes", locals: {votes: tender.votes.order(value: :desc)} %>
          <%= render partial: "vote_form", locals: {tender: tender, vote: tender.votes.find_or_initialize_by(user_id: current_user.id)} %>
        </td>
        <% if can? :manage, :all %>
        <td>
          <%= form_for tender, :html => {class: ""} do |f| %>
            <div>
              <div class="checkbox" style="margin-top: 0;">
                <%= f.label "important_#{i}" do %>
                <%= f.check_box :important, class: "", id: "tender_important_#{i}" %>
                срочный
                <% end %>
              </div>
              <div class="checkbox">
                <%= f.label "necessary_#{i}", class: "text-danger" do %>
                <%= f.check_box :necessary, class: "", id: "tender_necessary_#{i}" %>
                обязательный!
                <% end %>
              </div>

              <div class="form-group">
                <%= f.submit "Сохранить", class: "btn btn-xs btn-link" %>
                <%= link_to "Удалить", tender_path(tender), class: "btn btn-link btn-xs", :method => :delete %>
              </div>
            </div>
          <% end %>
        </td>
        <% end %>
        <!-- <td><%= tender.docs_deadline %></td> -->
        <!-- <td><%= tender.approve_deadline %></td> -->
        <!-- <td><%= tender.completion_date %></td> -->
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
