<%= render partial: "head", locals: {tender: @tender} %>

<table class="table b-tender__data">
  <tr>
    <td width="240"><b>Seldon Id</b></td>
    <td><%= @tender.seldon_id %></td>
  </tr>
  <tr>
    <td><b>Заказчик</b></td>
    <td><%= @tender.customer %></td>
  </tr>
  <tr>
    <td><b>Начальная макс. цена</b></td>
    <td class="text-success"><%= price(@tender.start_max_price) %> млн. руб.</td>
  </tr>
  <tr>
    <td><b>Этапы тендера</b></td>
    <td>
      <% if @tender.tender_milestones? %>
      <pre><%= @tender.tender_milestones %></pre>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><b>Ссылка на процедуру закупки</b></td>
    <td><%= link_to @tender.url, @tender.url, target: "_blank" %></td>
  </tr>
  </tr>
  <tr>
    <td><b>Дата начала приема заявок</b></td>
    <td><%= @tender.start_date %></td>
  </tr>
  <tr>
    <td><b>Дата окончания приема заявок</b></td>
    <td><%= @tender.end_date %></td>
  </tr>
  <tr>
    <td><b>Срок предоставления документов в  КО для участия в процедуре закупки </b></td>
    <td><%= @tender.docs_deadline %></td>
  </tr>
  <tr>
    <td><b>Срок утверждения Карточки проекта PRE-SALE</b></td>
    <td><%= @tender.approve_deadline %></td>
  </tr>
  <tr>
    <td><b>Срок окончания работ</b></td>
    <td><%= @tender.completion_date %></td>
  </tr>
  <tr>
    <td><b>Берем?</b></td>
    <td>
      <%= render partial: "vote_form", locals: {tender: @tender, vote: @vote} %>
    </td>
  </tr>
  <tr>
    <td><b>Все голоса</b></td>
    <td>
      <%= render partial: "shared/votes", locals: {votes: @colleagues_votes} %>
    </td>
  </tr>
  <% unless can? :manage, Tender %>
  <tr>
    <td><b>Руководитель Pre-sale</b></td>
    <td>
      <%= @tender.performer ? @tender.performer.full_name : "не назначен" %>
    </td>
  </tr>
  <% end %>
  <% if can? :manage, Tender %>
    <tr>
      <td><b>Администратор</b></td>
      <td>
        <%= form_for @tender, :html => {class: "", style: "width: 200px"} do |f| %>
        <div>
          <% if current_user.role? :admin %>
            <div class="checkbox">
              <%= f.label :important do %>
                <%= f.check_box :important, class: "" %>
                Отметить как срочный
              <% end %>
            </div>
            <div class="checkbox">
              <%= f.label :necessary, class: "text-danger" do %>
                <%= f.check_box :necessary, class: "" %>
                Участвуем обязательно!
              <% end %>
            </div>
          <% end %>
          
          <div class="form-group">
            <%= f.submit "Сохранить", class: "btn btn-sm btn-primary" %>
          </div>
        </div>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= render partial: "shared/comments", locals: {commentable: @tender} %>
