<%= link_to "Создать пользователя", new_user_path, class: "btn btn-default pull-right" %>
<h1 class="page-header">Управление пользователями</h1>

<div class="table-responsive">
  <table class="table table-hover table-fixed">
    <thead>
      <tr>
        <th width="100">ID</th>
        <th>Имя</th>
        <th>Email</th>
        <th>Роль</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role.name if user.role %></td>
        <td class="text-right">
          <%= link_to "Редактировать", edit_user_path(user), class: "btn btn-primary btn-xs" %>
          <%= link_to "Удалить", user_path(user), class: "btn btn-danger btn-xs", :method => :delete %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
